{% extends 'base.html' %}

{% block content %}

<div class="post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.body}}</p>
    <p>{{ post.data}}</p>
    
    <a href="{% url 'post_edit' post.pk %}">tahrirlash</a>

    <a href="{% url 'post_delete' post.pk %}">Postni o'chirish</a>

    <hr> 
    <div class="coment">
        {% for comment in post.comment_set.all %}
        <p>{{ comment.name }}</p>
        <p>{{ comment.text }}</p>
        {% endfor %}
    </div>
    <div>
        <h3>komentariya</h3>
        <div>
            <form action="{% url 'add_comment' post.id %}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="">Komentariya</label>
                    <textarea name="text" id="" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <label for="">Ismingiz*</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label for="">Email*</label>
                    <input type="email" name="email">
                </div>
                <div>
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
